@import '../variables';

.wood {
    position: fixed;
    background-image: url("../../assets/svg/wood.svg");
    width: 150px;
    height: 150px;
    top: 52vh;
    transform-origin: center;
    background-position: center 40%;
    z-index: 7;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    animation: slideTopToBottom 3s ease;
}

.line-wood {
    transform-origin: top left;
    opacity: 1;
    top: 0;
    left: 0;
    width: 275px;
    height: 275px;
}



@keyframes slideTopToBottom {
	0% {
		top: 45vh;
    }
	100% {
		top: 52vh;
	}
}
